body {
  font-family: Arial, sans-serif;
  background: url('eventsbg.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust transparency here */
  z-index: -1;
}

h1 {
  color: #ffcc00;
}

#events {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.event {
  background: #292929;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
  display: flex;
  align-items: center;
  text-align: left;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.1);
  flex-direction: column; /* Ensure contents inside .event stack vertically */
}

.event-info {
  flex: 1;
  width: 100%; /* Ensure event-info takes full width */
}

.event strong {
  color: #ffcc00;
}

.countdown {
  font-weight: bold;
  color: #00ff00;
}

.passed {
  color: red;
}

.pokemon-image {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.loading {
  font-style: italic;
  color: #aaa;
}